.musculacao{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
}

.hmtl{
width: 100vw;
height: 100vh;
font-size: 62.5%;
color: black;
font-family: 'lato', sans-serif;
}

.equipamento{
max-width:200px;
max-height:150px;
 width: auto;
height: auto;
}


.informacao{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
}


.academia{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
}


.començando{
max-width:200px;
max-height:150px;
width: auto;
height: auto;
}

#esquerdo{
    align-content: left;
}